:root {
  --white-100: hsl(0, 0%, 100%);
  --white-200: hsl(0, 0%, 90%);
  --white-300: hsl(0, 0%, 80%);
  --white-400: hsl(0, 0%, 70%);
  --white-500: hsl(0, 0%, 60%);

  --sky-300: hsl(198, 88%, 62%);
  --sky-400: hsl(198, 88%, 52%);
  --sky-600: hsl(198, 88%, 42%);
  --sky-700: hsl(198, 88%, 32%);
  --sky-800: hsl(198, 88%, 22%);

  --red-300: hsl(0, 85%, 42%);
  --red-400: hsl(0, 85%, 52%);
  --red-500: hsl(0, 85%, 62%);
  --red-600: hsl(0, 85%, 72%);
  --red-700: hsl(0, 85%, 82%);
  --red-800: hsl(0, 85%, 92%);
}
*,
*::before,
*::after {
  box-sizing: border-box;
  border: none;
}
html {
  height: 100%;
}
body {
  margin: 0;
  display: flex;
  align-items: center;
  min-height: 100vh;
  color: #ffffff;
  background-image: url("./assets//background.jfif");
  background-position: center;
  background-size: cover;
  font-family: "Inter", sans-serif;
}

#root {
  min-height: 100%;
  margin: 0 auto;
}
